:root {
    --text-white: #e0e0e0;
    --text-black: #000000;
    --text-grey: #6f6f75;
    --text-darkgrey: #343436;
    --text-darkestgrey: #1F1F26;
    --text-blackgrey:#242424;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img{
    max-width: 100%;
  } 

body {
    font-family: 'Harmonia Sans Pro Cyr';
}


h1, h2 {
    font-size: 54px;
    line-height: 58px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: 'Maya Samuels Pro';
    letter-spacing: -3px;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-family: 'Maya Samuels Pro';
}

p {
    text-align: justify;
    font-family: 'Harmonia Sans Pro Cyr';
    letter-spacing: 2px;
    font-weight: 100;
} 

a {
    color: var(--text-white);
}


/* container */

.container {
    max-width: 1350px;
    padding: 40px 10px;
    margin: auto;
}

/* header */


.header {
    font-size: 18px;
    color: var(--text-white);
    background-color: var(--text-grey);
}

.upper-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    flex: 1 1 0px;
}

.upper-header > div {
    width: 100%
}

.upper-header > div:last-child {
    text-align: end;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-black);
    font-weight: 700;
    margin-bottom: 10px;
}

.right-header {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.book-btn {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;

    background: var(--text-darkgrey);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 
    inset 0px 0.5px 0.5px rgba(62, 56, 56, 0.5), 
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
}

.book-btn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px 
    rgba(62, 56, 56, 0.5) 
    rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px 
    rgba(58, 108, 217, 0.5);
    outline: 0;
}

.lower-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lower-header > a {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: var(--text-darkgrey);
    transition: all 0.3s;
    border-bottom: 1% solid var(--text-darkgrey);
}

.lower-header > a:hover{
    background-color: var(--text-grey);
    color: var(--text-white);
    font-weight: 700;
}

/* cont */

.about_section {
    background-color: var(--text-grey);
}

.about_text {
    text-align: center;
    color: var(--text-white);
}

.heading_about {
    padding: 20px 0px;
    text-align: center;
    font-weight: 800;
}

.text_about {
    padding: 20px;
    columns: 2;
    column-gap: 40px;
    font-size: 18px;
}

.images {
    min-width: 768px;
}

.images_panels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.images_panel {
    min-width: 300px;
}

.images_heading {
    padding: 20px 0px 20px;
}

.image_text {
    text-align: center;
}

/* prof */

.skills {
    color: var(--text-white);
    background-color: var(--text-darkgrey);
    position: relative;
    display: flex;
    flex-direction: column;
}


.skills_skills {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    max-width: 800px;
    top: 100px;
    right: 100px;
}

.skills_small {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.skills_to_be {
    line-height: 26px;
    font-size: 18px;
}

.skills_text {
    text-align: center;
}

.skills_panels {
    width: 805px;
    padding: 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills_nums {
    padding-bottom: 20px;
}

/* works */

.works_gallery {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our_works {
    background-color: var(--text-grey);
}

.works_para {
    margin: 0px 200px 50px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.works_heading {
    text-align: center; 
    font-size: 40px;
}

/* about_studio */

.about_studio {
    background-color: var(--text-white);
}

.about_heading {
    text-align: center;
    padding-bottom: 20px;
}

.studio_columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.article {
    width: 600px;
}

.article_heading {
    padding-bottom: 20px;
}

.article_para {
    padding-bottom: 20px;
    font-size: 18px;
}

/* workshop */

.sovet_heading {
    font-size: 40px;
    padding-bottom: 20px;
    color: var(--text-white);
}

.sovet_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.gallery__item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sovet {
    padding: 30px 0px 0px;
    background-color: var(--text-darkgrey);
}

/* tablemast */

.masters_about {
    background-color: var(--text-white);
}

.subheading_masters {
    text-align: center;
    font-size: 24px;
    padding: 20px 0px;
}

.table_panels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px ;
    flex-wrap: wrap;
}

.table_panel {
    width: fit-content;
    padding-bottom: 20px;
}

.table_names {
    text-align: center;
    font-size: 20px;
}

.table_images {
    height: 30vh;
}

.table_images:hover {
    filter: brightness(80%);
    transition: 0.2s;
}

.name_name {
    font-size: 24px;
}

/* reviews */

.all_reviews {
    background-color: var(--text-darkestgrey);
    color: var(--text-white);
}

.clients_intro {
    margin: 0 0 60px;
}

.clients_review {
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.clients_connect {
    text-align: center;
}

.review_panel{
    background-color: var(--text-blackgrey);
    padding: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.q_mark {
    display: flex;
    align-items: center;
    font-size: 100px;
}

.review_name {
    width: fit-content;
    font-size: 42px;
    letter-spacing: -1px;
}

.icons {
    float: right;
    margin-top: -40px;
}

.quote_footer {
    margin-top: 20px;
}

/* FAQ */

.faq_container {
    margin: 0 20px;
}

.all_faq {
    background-color: var(--text-darkestgrey);
    color: var(--text-white)
}

.expandable_h3 {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px 0 0;
}

.expandable_p {
    padding: 20px 50px 0;
}

.faq_heading {
    font-size: 35px;
    letter-spacing: -1px;
}

.faq_par {
    text-align: center;
    margin: 40px 0 0;
    letter-spacing: 2px;
}

.faq_expandable {
    cursor: pointer;
}

.faq_outro {
    margin: 40px 0 0;
    text-align: center;
    letter-spacing: 2px;
}

/* footer */

.footer {
    padding: 10px 0px 20px;
    /* visual */
    color: var(--text-white);
    background-color: var(--text-darkgrey);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}


.content_left {
    width: fit-content;
    display: flex;
    text-align: left;
}

p.left_p {
    width: 100px;
}

p.right_p {
    width: 200px;
}

h5.black_lotus {
    display: flex;
    text-align: left;
    font-size: 16px;
    width: 150px;
}

.copyright {
    width: fit-content;
}

/* from */

  .form {   
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form.active {
    width: 100vw;
    opacity: 1;
    pointer-events: all;
    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
  }

  .form_content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(33, 32, 32);
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
  }

  .form_content.active {
    transform: scale(1);
  }

  .title {
    color: #eee;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .checkboxing {
    text-align: left;
  }

  .ic3 {
    margin: 30px 0 30px;
    height: fit-content;
    color: var(--text-white);
  }

  .input {
    background-color: var(--text-grey);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: rgb(33, 32, 32); 
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 110px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: var(--text-darkestgrey);
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: var(--text-darkestgrey);
  }
  
  .input:focus ~ .placeholder {
    color: var(--text-white);
  }
  
  .submit {
    background-color: var(--text-blackgrey);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--text-white);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: var(--text-white);
    color: var(--text-blackgrey);
  }

input {
  margin: 0.4rem;
}

@media screen and (max-width: 1440px){
    .works_para {
        text-align: center;
    }

    .skills_instr {
        height: 100%;
    }
}

@media screen and (max-width: 1024px){
    .works_para {
        text-align: center;
    }

}

@media screen and (max-width: 768px){
    
    img {
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    }
    p {
        font-size: 14px;
    }
    /* header */
    .upper-header {
        padding: 0 10px; 
    }
    .lower-header > a {
        padding: 15px 0;
    }
    .header-text-bl {
        display: none;
    }
    .upper-header {
        text-align: end;
    }
    .header-text-address {
        text-align: left;
    }
    /* .about_text */
    .text_about {
        padding: 0 10px;
    }
    .images_panels {
        display: flex;
        flex-wrap: wrap;
    }
    .images_panel {
        max-width: 200px;
    }
    .images {
        min-width: unset;
    }
    /* skills */

    .skills_instr {
        height: 50vh;
    }
    .skills_skills {
        width: 100vw;
        right: 0;
        top: 50px;
    }
    .skills_panels {
        width: 576px;
        padding: 0;
    }
    /* works */
    .works_para {
        margin: 0;
        padding: 20px;
        text-align: justify;
    }
    
    .skills_big {
        font-size: 14px;
        letter-spacing: normal;
    }
    .skills_small {
        font-size: 12px;
    }

    /* faq */

    .faq_outro {
        margin: 0;
        padding-top: 20px;
        font-size: 14px
    }

@media screen and (max-width: 576px){
    p {
        font-size: 12px;
    }
    /* header */
    .upper-header {
        padding: 0 10px; 
        font-size: 10px;
    }
    h5.black_lotus {
        display: none;
    }
    .lower-header > a {
        padding: 15px 0;
    }
    .header-text-bl {
        display: none;
    }
    .upper-header {
        font-size: 10px;
        text-align: end;
    }
    .header-text-address {
        text-align: left;
    }
    /* .about_text */
    .text_about {
        columns: 1;
        padding: 0 10px;
    }
    .images_panels {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .images_panel {
        max-width: 200px;
    }
    .images {
        min-width: unset;
    }

    .article_heading {
        font-size: 18px;
    }

    .article_para {
        font-size: 14px;
    }
    /* tablemast */

    .table_panels {
        justify-content: center;
    }

    /* reviews */

    .review_name {
        font-size: 14px;
        padding-bottom: 30px;
        letter-spacing: normal;
    }
    .review_panel {
        padding: 20px;
    }

    .q_mark {
        font-size: 50px;
    }

    /* faq */

    .faq_container {
        margin: 0   ;
    }

    .expandable_p {
        padding: 20px 5px;
    }

    .faq_par {
        margin: 0;
    }

    .faq_outro {
        margin: 0;
        padding-top: 20px;
        font-size: 14px
    }

    /* skills */

    .skills_skills {
        width: 100vw;
        right: 0;
        top: 50px;
    }
    .skills_panels {
        width: 100vw;
        padding: 0;
    }
    .skills_big {
        font-size: 14px;
        letter-spacing: normal;
    }
    .skills_small {
        font-size: 12px;
    }
    .skills_instr {
        height: 50vh;
        width: 100vw;
    }

    /* works */
    .works_para {
        margin: 0;
        font-size: 18px;
        text-align: justify;
    }
    .works_heading {
        font-size: 25px;
    }

    /* footer */
    .footer_content {
        justify-content: center;
    }
}